.add-register {
    display: flex;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    width: 611px;
    min-height: 880px;
    margin-top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    border-radius: 20px;
    padding: 61px 60px 52px 60px;
}


.add-register--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 52px;
}

.add-register--header img {
    cursor: pointer;
}

.add-register--options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-option {
    text-align: center;
    width: 244.5px;
    height: 56px;
    border-radius: 8px;
    background-color: #b9b9b9;
    color: white;
}

.btn-option:hover {
    transform: scale(1.02);
}


.btn-click-input,
.btn-input:hover {
    background-color: #3A9FF1;
}

.btn-click-output,
.btn-output:hover {
    background-color: rgba(255, 87, 107, 1);
}

select {
    height: 63.5px;
    margin-top: 8.5px;
    border-radius: 5px;

    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form input {
    border: 1px solid gray;
    border-radius: 5px;

    padding: 0px 5px;

    margin-top: 8px;

    height: 63px;
}

form label {
    margin-top: 26px;
    font-size: 22px;
}

form button {
    width: 236px;
    height: 42px;
    margin: auto;

    color: white;
    background-color: #7978D9;

    margin-top: 43px;
    border-radius: 5px;

    text-align: center;
}

form button:hover {
    transform: scale(1.02);
    background-color: #8a89dc;
}

.ofuscado {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: rgba(61, 61, 61, 0.5);
}